name: Build PostgreSQL 17 + pgaudit

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  IMAGE_NAME: postgres
  PG_MAJOR: "17"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.pgaudit
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            PG_MAJOR=${{ env.PG_MAJOR }}
          tags: |
            muen/postgres:${{ env.PG_MAJOR }}
            muen/postgres:${{ env.PG_MAJOR }}-main
            muen/postgres:latest
