name: Build PostgreSQL 17 + pgaudit

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  IMAGE_NAME: postgres-audit
  PG_VERSION: "17"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Log in to GHCR
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Setup Buildx
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build & push
      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.pgaudit
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            PG_VERSION=${{ env.PG_VERSION }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ env.PG_VERSION }}
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ env.PG_VERSION }}-main
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest

