name: Build PostgreSQL 18 + PGAudit Image

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  workflow_dispatch:

env:
  IMAGE_NAME: postgres-audit
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version tag
        id: vars
        run: echo "TAG=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.pgaudit   # ⭐ 这里改成你的文件名
          push: true
          platforms: linux/amd64,linux/arm64
          build-args: |
            PG_VERSION=18              # ⭐ 指定你使用的版本
          tags: |
            ghcr.io/${{ github.repository_owner }}/postgres-audit:18
            ghcr.io/${{ github.repository_owner }}/postgres-audit:18-${{ steps.vars.outputs.TAG }}

      - name: Done
        run: echo "PG 18 image build completed"
